
body{
     background-color: #fff2e6;
}


.wrapper{
  padding: 0 0 100px;
  background-image: url(images/bg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


 .wrapper input{
  background-color: var(--light-white);
  border-color: (--light-white);
  color: gray;
 }

 .wrapper .login_with{
 padding: 15px;
 font-size: 15px;
 font-weight: 500;
 transition: 0.3s ease-in-out;
 }

 .btn a{
  color: white;
  text-decoration: none;
 }
